.table{
    &__span{
        text-align: end;
        @media(max-width: 400px) {
            font-size: 15px;
        }
    }
    &__span2{
        width: 60% !important;
    }
    &__list{
        li{
            display: flex;
            justify-content:center;
            width: 100%;
            margin: 5px 0;
            border: 0px solid #4e73df !important;
            padding: 0px;

            span{
                border: 1px solid #4e73df;
                width: 30%;
                padding: 10px 10px;
                overflow: auto;

                @media(max-width: 900px) {
                    width: 100% !important;
                }
            }
        }
    }
    &__left{
        max-width: 100%;
      
    }
    &__rigth{
        max-width: 100%;
    }
}