.sidebar {
  width: 200px;
  border-right: 0.5px solid rgb(230, 227, 227);
  height: 100%;
  background-color: #4e73df;
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo {
      font-size: 24px;
      font-weight: 400;
      color: white;
    }

    .close-btn:hover {
      color: #7451f8;
      background: white;
      border: 2px solid white;
    }

    .close-btn {
      display: none;
      position: absolute;
      top: 12px;
      right: 5px;
      color: white;
      border: 2px solid white;
      border-radius: 50%;
      @media (max-width: 990px) {
        display: block
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding: 0 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      a {
        text-decoration: none;
      }

      .li_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .list_title {
          display: flex;
          align-items: center;
          font-size: 14px;
          padding: 5px;
          cursor: pointer;

          .icon {
            font-size: 18px;
            color: #7451f8;
          }

          span {
            font-size: 13px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
          }

          &:click ~ .hidden {
            height: 200px;
            transition: all .3s ease;
          }
        }

        .hidden {
          height: 0px;
          overflow: hidden;
          transition: all .3s ease;
          margin-left: 15px;
        }
      }

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 500ms;
        border: 1px solid white;
        padding: 5px;
        border-radius: 6px;
        margin: 0 5px 5px 0;

        &:hover {
          background-color: #ffffff;

          span {
            color: rgb(0, 0, 0);
          }

          .icon {
            color: rgb(0, 0, 0);
          }
        }

        .icon {
          font-size: 18px;
          color: white;
        }

        span {
          font-size: 18px;
          font-weight: 600;
          color: white;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}
